.app__header {
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.app__header-text-container {
  font-size: 1.7em;
  position: absolute;
  text-align: center;
  @media screen and (min-width: 700px) {
    font-size: 2.5em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 3em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 4em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 5em;
  }
}

.bold-name-tag {
  color: #4ca1af;
  font-weight: 500;
}

.header-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text-color);
  @media screen and (min-width: 1008px) {
  }
  @media screen and (min-width: 1500px) {
  }
  /*   @media screen and (min-width: 1500px) {
    font-size: 6rem;
  } */
}

.app__header-guide {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
}

.guide-arrow {
  font-size: 0.5em;
  transition: 0.5s;
  fill: var(--text-color);
  &:hover,
  &:focus {
    fill: var(--primary-color);
  }
  @media screen and (min-width: 1500px) {
    font-size: 1em;
  }
}

.arrow-container {
  display: flex;
  border: none;
  background: none;
  transition: 0.35s;
  border-radius: 50%;
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 6em var(--secondary-color);
  }
  @media screen and (min-width: 700px) {
    border-radius: 50%;
  }
}
