/* .particle-bg {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.app__header {
  z-index: 1;
  height: 100vh;
  /*   top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.app__header-text-container {
  margin-top: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.app__header-name-info {
  display: flex;
}

.app__header-dev {
  display: flex;
}

.header-text {
  font-size: 8rem;
  color: var(--gray-color);
}

.app__header-guide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-arrow {
  font-size: 2rem;
  transition: 0.5s;

  &:hover {
    color: black;
  }
}

.arrow-container {
  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 50%;
  }
}
