/* .particle-bg {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.app__header {
  z-index: 1;
  height: 100vh;
  /*   top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.app__header-text-container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
  @media screen and (min-width: 700px) {
    margin-top: 40em;
  }
}

.app__header-name-info {
  display: flex;
}

.app__header-dev {
  display: flex;
}

.bold-name-tag {
  color: var(--secondary-color);
  font-weight: 500;
}

.header-text {
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--black);
  @media screen and (min-width: 700px) {
    font-size: 5rem;
  }
  @media screen and (min-width: 1300px) {
    font-size: 5.5rem;
  }
  @media screen and (min-width: 1500px) {
    font-size: 6rem;
  }
}

.app__header-guide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide-arrow {
  font-size: 1.75rem;
  transition: 0.5s;
  fill: var(--black);
  &:hover,
  &:focus {
    fill: var(--primary-color);
  }
}

.arrow-container {
  border: none;
  background: none;
  transition: 0.35s;
  border-radius: 70%;
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 6em var(--secondary-color);
  }
  @media screen and (min-width: 700px) {
    border-radius: 50%;
  }
}
