.app__navbar {
  /*   order: 2; */
  /* width: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.app__navbar-logo {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 120px;
    height: 20px;
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3em;

  list-style: none;

  li {
    display: flex;
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;
    margin-left: 1.3em;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      @media screen and (min-width: 1500px) {
        width: 8px;
        height: 8px;
      }
    }

    a {
      text-decoration: none;
      font-family: var(--font-base);
      margin-top: 0.25em;
      height: 2em;
      color: var(--text2-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;
      font-size: 1em;

      transition: all 0.1s ease-in-out;

      @media screen and (min-width: 1500px) {
        font-size: 1.3em;
      }

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 700px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo-name {
  width: 10em;
  height: 4em;
}
