.particle-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
}

.page-sections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
