@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #4ca1af;
  --gradient: linear-gradient(to right, #2c3e50, #4ca1af);
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --text-color: var(--black-color);
  --text2-color: var(--gray-color);
  --header-text-color: var(--black-color);
}

.dark-mode {
  --header-text-color: #e7f6f2;
  --text-color: #e4e4e4;
  --text2-color: var(--text-color);
  --primary-color: #2c3333;
  --secondary-color: #a5c9ca;
  --nav-color: #272727;
  --nav-text-color: #e4e4e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
