.app__about {
  width: 100%;
  order: 3;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  @media screen and (min-width: 1008px) {
    margin-bottom: 5em;
  }
}

.app__about-heading-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: -3em;
  h1 {
    font-size: 1.7em;

    @media screen and (min-width: 1008px) {
      font-size: 1.75em;
    }
    @media screen and (min-width: 1500px) {
      font-size: 3em;
    }
  }
}

.app__about-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (min-width: 1008px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1500px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
}

.app__about-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__about-description-text {
  width: 80%;
  margin-top: 2rem;
  p {
    font-size: 1.4em;
    /* font-size: 1.5rem; */
    text-align: center;
    @media screen and (min-width: 1500px) {
      font-size: 1.8em;
    }
  }
}

.app__about-icon {
  margin-top: 4rem;
}

.about-icon {
  margin-top: 1rem;
  width: 12em;
  height: 12em;
  @media screen and (min-width: 1500px) {
    min-width: 60%;
    min-height: 60%;
  }
  fill: var(--text-color);
}

.app__about-skills-container {
  flex: 1;
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* margin-top: 5rem; */
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1008px) {
    margin-bottom: 0;
  }
}

.app__about-skills-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.app__about-skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;

  div {
    background-color: var(--white-color);
    border-radius: 50%;
    /*     width: 100px;
    height: 100px; */
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1008px) {
      width: 49px;
      height: 49px;
    }
    @media screen and (min-width: 1500px) {
      width: 100px;
      height: 100px;
    }

    &:hover {
      box-shadow: 0 0 25px var(--secondary-color);
    }
  }

  p {
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 0.75rem;
  }
}

.Sass {
  height: 72%;
  width: 72%;
}
