.app__about {
  width: 100%;
  order: 3;
  h1 {
    font-size: 1.85em;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 700px) {
    font-size: 2em;
  }
}

.app__about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.app__about-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1300px) {
    flex-direction: row;
    margin-bottom: 5em;
  }
}

.app__about-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1300px) {
  }
}

.app__about-description-text {
  width: 70vw;
  margin-top: 4rem;
  p {
    font-size: 1.5rem;
    text-align: center;
    @media screen and (min-width: 700px) {
      font-size: 1.75rem;
    }
  }
  @media screen and (min-width: 700px) {
    width: 50vw;
  }
  @media screen and (min-width: 1300px) {
    width: 40vw;
  }
}

.app__about-icon {
  margin-top: 4rem;
}

.about-icon {
  margin-top: 1rem;
  width: 50%;
  height: 50%;
  @media screen and (min-width: 700px) {
    width: 85%;
    height: 85%;
    margin-top: 5rem;
  }
  @media screen and (min-width: 1300px) {
    margin-top: 1rem;
  }
}

.app__about-skills-container {
  flex: 1;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.app__about-skills-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 700px) {
    width: 80%;
  }
  @media screen and (min-width: 1300px) {
    flex-direction: row;
    width: 70%;
  }
}

.app__about-skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;

  div {
    border-radius: 50%;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     &:hover {
    } */
    @media screen and (min-width: 700px) {
      width: 85px;
      height: 85px;
      flex-direction: row;
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.75rem;
  }

  @media screen and (min-width: 700px) {
  }
}

.Sass {
  height: 72%;
  width: 72%;
}
