.app__work {
  width: 50%;
  order: 4;
  justify-content: center;
  h1 {
    font-size: 1.85em;
  }
  @media screen and (min-width: 700px) {
    font-size: 2em;
  }
  height: 50vh;
  background-color: white;
}
